@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url(./assets/rays.png), url(./assets/cube.png),
    url(./assets/cubes.png), url(./assets/stairs.png), url(./assets/pillar.png), url(./assets/dollar.svg), url(./assets/eye.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%, 90px, 230px, 250px, 300px, 65px, 80px;
  background-position: center center, 13% 14%, 15% 90%, 83% 17%, 65% 100%, 2% 2%, 97% 2%;
  color: #ffffff;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

.upper-case-text {
  text-transform: uppercase;
}

.App {
  padding: 3rem;
}

nav {
  justify-content: center;
  gap: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 15% 25%;
  font-size: 12.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-align: center;
  line-height: 11rem;
  align-self: center;
}

.app-text-img {
  position: absolute;
  display: block;
  z-index: 100;
  width: 400px;
  transform: translate(0.2rem, -5rem);
}

.app-text {
  z-index: 1001;
}

.inline-text {
  display: inline;
  letter-spacing: 4rem;
}

.btn {
  background-color: black;
  outline: none;
  border: 1px solid #ffffff;
  border-radius: 0.6rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-wrap: nowrap;
}

.btn-container {
  gap: 0.6rem;
  width: 30%;
}

.btn-images {
  width: 1.3rem;
  aspect-ratio: 1/1;
}

.bottom-container {
  justify-content: space-between;
  align-items: center;
}

.icons {
  width: 40%;
  gap: 3rem;
  align-items: center;
  transform: translate(-7rem, 0);
}

.icons p {
  font-size: 0.7rem;
  color: #b6b6b6;
}

.icons div {
  gap: 2rem;
}

.arrow-image {
  height: 2rem;
  aspect-ratio: 1/2;
}
